@import "tailwindcss/base";
@import "tailwindcss/components";

@import "additional-styles/utility-patterns.scss";
@import "additional-styles/theme.scss";

@import "tailwindcss/utilities";

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
